<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Virtual Bookshelf</a>
  <a class="navbar-brand" href="/addbooks">Add Books</a>
  <a class="navbar-brand" href="/" id="logout">Logout</a>
  {{! <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Add your navigation links here -->
    </ul>
  </div> }}
</nav>