
<nav class="navbar {{!--navbar-expand-lg--}} navbar-light {{!--bg-light--}}">
  {{#if logged_in}}
    <a class="navbar-brand" href="/">Virtual Bookshelf</a>
    <a class="navbar-brand" href="/addbooks">Add Books</a>
    <a class="navbar-brand" href="/" id="logout">Log Out</a>
  {{else}}
    <a class="navbar-brand" href="/signup">Sign Up</a>
    <a class="navbar-brand" href="/login" id="login">Log In</a>
  {{/if}}
  {{! <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Add your navigation links here -->
    </ul>
  </div> }}
</nav>