
<nav class="navbar {{!--navbar-expand-lg--}} navbar-light {{!--bg-light--}}">
  {{#if logged_in}}
    <a href="/">Virtual Bookshelf</a>
    <a href="/addbooks">Add Books</a>
    <a href="/" id="logout">Log Out</a>
    <a href="">Logged in as: {{username}}</a>
  {{else}}
    <a href="/signup">Sign Up</a>
    <a href="/login" id="login">Log In</a>
  {{/if}}
  {{! <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Add your navigation links here -->
    </ul>
  </div> }}
</nav>