<div class="bookshelf">
  {{#each books}}
    <div class="book-card">
      <div class="book-cover"><!-- Book cover content here --></div>
      <h5>{{title}}</h5>
      <p>{{author}}</p>
    </div>
  {{/each}}
</div>
