<!-- Including a navigation partial-->
{{> nav}}
<section class="login-container">
  <!-- Section containing the login form -->
<h1>Login</h1>

<form id="login-form">
  <!-- Login form with a unique identifier for scripting purposes -->
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />
   <!-- Text input for entering the username, with 'required' attribute for form validation -->

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />
  <!-- Password input for entering the password, with 'required' attribute for form validation -->

  <button type="submit">Log In</button>
</form>
</section>
<script src="/js/login.js"></script>