{{!-- {{> layouts/main}} --}}
{{> nav}}
<section class="login-container">
<h1>Login</h1>
{{! <form action="/auth/login" method="POST"> }}
{{! <link rel="stylesheet" type="text/css" href="/public/css/style.css" /> }}
<form id="login-form">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <button type="submit">Log In</button>
</form>
</section>
<script src="/js/login.js"></script>